* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url("https://thumbs.dreamstime.com/z/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg");
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }
  
  .container {
    margin: 1rem auto;
    padding: 20px;
    width: 420px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 40px; 
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
  }
  
  input {
    padding: auto 30px;
    padding: 5px;
    outline: none;
    font-size: 1.3rem;
    border-radius: 50px;
  }
  
  .submit {
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: black;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .submit:active {
    transform: scaleX(0.9);
  }
  
  .inputBox {
    padding: 10px 0 20px 0;
  }
  
  .resultBox {
    padding: 20px 0;
    font-weight: bolder;
  }
  
  h1 {
    color: rgb(209, 26, 209);
    font-weight: bolder;
    font-size: 1.8rem;
  }
  
  p {
    padding: 10px;
    font-size: 1.4rem;
    font-weight: bolder;
    
  }
  .description {
    text-transform: capitalize;
  }